<div class="row hidden-xs v-offset-2 ng-scope">
    <div class="col-sm-6">
        <b>PRODUKT</b>
    </div>
    <div class="col-sm-6">
        <div class="row">
            <div class="col-xs-4">
                <b>Pris 1</b>
            </div>
            <div class="col-xs-4">
                <b>Pris 2</b>
            </div>
            <div class="col-xs-4">
                <b>Pris 3</b>
            </div>
        </div>
    </div>
</div>

<div class="row v-offset-1 ng-scope">
    <div class="col-sm-6">
        <b>Garanterat Certifierat</b>
    </div>
    <div class="col-sm-6 visible-xs">
        <div class="row">
            <div class="col-xs-4">
                <b><small>Pris 1</small></b>
            </div>
            <div class="col-xs-4">
                <b><small>Pris 2</small></b>
            </div>
            <div class="col-xs-4">
                <b><small>Pris 3</small></b>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="row">
            <div class="col-xs-4"><b>179:-</b></div>
            <div class="col-xs-4"><b>189:-</b></div>
            <div class="col-xs-4"><b>209:-</b></div>
        </div>
    </div>
</div>
<div class="row ng-scope">
    <div class="col-xs-12">Mörkt mellanrostat kaffe från Bali blandat med ljust mellanrostat kaffe från Papua Nya Guinea. Certifierad Ekologisk, Fair-Trade och Rainforest Alliance. Hela bönor.</div>
</div>
<div class="row v-offset-1 ng-scope">
    <div class="col-sm-6">
        <b>Dubbelknäppt</b>
    </div>
    <div class="col-sm-6 visible-xs">
        <div class="row">
            <div class="col-xs-4">
                <b><small>Pris 1</small></b>
            </div>
            <div class="col-xs-4">
                <b><small>Pris 2</small></b>
            </div>
            <div class="col-xs-4">
                <b><small>Pris 3</small></b>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="row">
            <div class="col-xs-4"><b>159:-</b></div>
            <div class="col-xs-4"><b>169:-</b></div>
            <div class="col-xs-4"><b>199:-</b></div>
        </div>
    </div>
</div>
<div class="row ng-scope">
    <div class="col-xs-12">Mörkt rostat kaffe från Brasilien och mellanrostat Red Bourbon från Rwanda blandat med mellanrostad Robusta Cherry från Indien. Hela bönor.</div>
</div>
<div class="row v-offset-1 ng-scope">
    <div class="col-sm-6">
        <b>Dubbelknäppt Plus</b>
    </div>
    <div class="col-sm-6 visible-xs">
        <div class="row">
            <div class="col-xs-4">
                <b><small>Pris 1</small></b>
            </div>
            <div class="col-xs-4">
                <b><small>Pris 2</small></b>
            </div>
            <div class="col-xs-4">
                <b><small>Pris 3</small></b>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="row">
            <div class="col-xs-4"><b>149:-</b></div>
            <div class="col-xs-4"><b>159:-</b></div>
            <div class="col-xs-4"><b>189:-</b></div>
        </div>
    </div>
</div>
<div class="row ng-scope">
    <div class="col-xs-12">Mycket mörkt rostat kaffe från Brasilien blandat med Robusta Cherry från Indien. Hela bönor.</div>
</div>
<div class="row v-offset-1 ng-scope">
    <div class="col-sm-6">
        <b>Välpackat</b>
    </div>
    <div class="col-sm-6 visible-xs">
        <div class="row">
            <div class="col-xs-4">
                <b><small>Pris 1</small></b>
            </div>
            <div class="col-xs-4">
                <b><small>Pris 2</small></b>
            </div>
            <div class="col-xs-4">
                <b><small>Pris 3</small></b>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="row">
            <div class="col-xs-4"><b>139:-</b></div>
            <div class="col-xs-4"><b>149:-</b></div>
            <div class="col-xs-4"><b>179:-</b></div>
        </div>
    </div>
</div>
<div class="row ng-scope">
    <div class="col-xs-12">Vårt experimentkaffe i ständig förvandling. Hela bönor.</div>
</div>
<div class="row v-offset-1 ng-scope">
    <div class="col-sm-6">
        <b>Nordväst</b>
    </div>
    <div class="col-sm-6 visible-xs">
        <div class="row">
            <div class="col-xs-4">
                <b><small>Pris 1</small></b>
            </div>
            <div class="col-xs-4">
                <b><small>Pris 2</small></b>
            </div>
            <div class="col-xs-4">
                <b><small>Pris 3</small></b>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="row">
            <div class="col-xs-4"><b>199:-</b></div>
            <div class="col-xs-4"><b>209:-</b></div>
            <div class="col-xs-4"><b>239:-</b></div>
        </div>
    </div>
</div>
<div class="row ng-scope">
    <div class="col-xs-12">Mellanrostat kaffe från Honduras*. Camelo Puro Coop. Agropecuaria Quiraguira. Fair-Trade och Ekologisk. Hela bönor.</div>
</div>
<div class="row v-offset-1 ng-scope">
    <div class="col-sm-6">
        <b>Nordost</b>
    </div>
    <div class="col-sm-6 visible-xs">
        <div class="row">
            <div class="col-xs-4">
                <b><small>Pris 1</small></b>
            </div>
            <div class="col-xs-4">
                <b><small>Pris 2</small></b>
            </div>
            <div class="col-xs-4">
                <b><small>Pris 3</small></b>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="row">
            <div class="col-xs-4"><b>269:-</b></div>
            <div class="col-xs-4"><b>279:-</b></div>
            <div class="col-xs-4"><b>309:-</b></div>
        </div>
    </div>
</div>
<div class="row ng-scope">
    <div class="col-xs-12">Mellanrostat kaffe från Rwanda*. Red Bourbon. Direct Trade. Hela bönor.</div>
</div>
<div class="row v-offset-1 ng-scope">
    <div class="col-sm-6">
        <b>Sydost</b>
    </div>
    <div class="col-sm-6 visible-xs">
        <div class="row">
            <div class="col-xs-4">
                <b><small>Pris 1</small></b>
            </div>
            <div class="col-xs-4">
                <b><small>Pris 2</small></b>
            </div>
            <div class="col-xs-4">
                <b><small>Pris 3</small></b>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="row">
            <div class="col-xs-4"><b>189:-</b></div>
            <div class="col-xs-4"><b>199:-</b></div>
            <div class="col-xs-4"><b>229:-</b></div>
        </div>
    </div>
</div>
<div class="row ng-scope">
    <div class="col-xs-12">Mellanrostat kaffe från Bali*. Tri Hita Karana. Hela bönor</div>
</div>
<div class="row v-offset-1 ng-scope">
    <div class="col-sm-6">
        <b>Sydväst</b>
    </div>
    <div class="col-sm-6 visible-xs">
        <div class="row">
            <div class="col-xs-4">
                <b><small>Pris 1</small></b>
            </div>
            <div class="col-xs-4">
                <b><small>Pris 2</small></b>
            </div>
            <div class="col-xs-4">
                <b><small>Pris 3</small></b>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="row">
            <div class="col-xs-4"><b>189:-</b></div>
            <div class="col-xs-4"><b>199:-</b></div>
            <div class="col-xs-4"><b>229:-</b></div>
        </div>
    </div>
</div>
<div class="row ng-scope">
    <div class="col-xs-12">Mörkrostat kaffe från Peru*. Fair-Trade och Ekologisk. Cooperativa Aproexport. Hela bönor.</div>
</div>
<div class="row v-offset-1 ng-scope">
    <div class="col-sm-6">
        <b>Kärnkaffe Skånerost</b>
    </div>
    <div class="col-sm-6 visible-xs">
        <div class="row">
            <div class="col-xs-4">
                <b><small>Pris 1</small></b>
            </div>
            <div class="col-xs-4">
                <b><small>Pris 2</small></b>
            </div>
            <div class="col-xs-4">
                <b><small>Pris 3</small></b>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="row">
            <div class="col-xs-4"><b>79-111:-</b></div>
            <div class="col-xs-4"><b>89-121:-</b></div>
            <div class="col-xs-4"><b>119-151:-</b></div>
        </div>
    </div>
</div>
<div class="row ng-scope">
    <div class="col-xs-12">Mörkrostat kaffe från Brasilien, Colombia och Kenya. Malet kaffe.</div>
</div>
<div class="row v-offset-1 ng-scope">
    <div class="col-sm-6">
        <b>Kärnkaffe Eko ft mörkrost</b>
    </div>
    <div class="col-sm-6 visible-xs">
        <div class="row">
            <div class="col-xs-4">
                <b><small>Pris 1</small></b>
            </div>
            <div class="col-xs-4">
                <b><small>Pris 2</small></b>
            </div>
            <div class="col-xs-4">
                <b><small>Pris 3</small></b>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="row">
            <div class="col-xs-4"><b>99-129:-</b></div>
            <div class="col-xs-4"><b>109-139:-</b></div>
            <div class="col-xs-4"><b>139-169:-</b></div>
        </div>
    </div>
</div>
<div class="row ng-scope">
    <div class="col-xs-12">Mörkrostat kaffe från centralamerika. Malet kaffe.</div>
</div>
<div class="row v-offset-1 ng-scope">
    <div class="col-sm-6">
        <b>Kärnkaffe Mellanrost</b>
    </div>
    <div class="col-sm-6 visible-xs">
        <div class="row">
            <div class="col-xs-4">
                <b><small>Pris 1</small></b>
            </div>
            <div class="col-xs-4">
                <b><small>Pris 2</small></b>
            </div>
            <div class="col-xs-4">
                <b><small>Pris 3</small></b>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="row">
            <div class="col-xs-4"><b>79-111:-</b></div>
            <div class="col-xs-4"><b>89-121:-</b></div>
            <div class="col-xs-4"><b>119-151:-</b></div>
        </div>
    </div>
</div>
<div class="row ng-scope">
    <div class="col-xs-12">Mellanrostat kaffe från Brasilien, Colombia och Kenya. Malet kaffe.</div>
</div>
<div class="row v-offset-1 ng-scope">
    <div class="col-sm-6">
        <b>Kärnkaffe Express</b>
    </div>
    <div class="col-sm-6">
        <div class="row">
            <div class="col-xs-4"><b></b></div>
            <div class="col-xs-4"><b></b></div>
            <div class="col-xs-4"><b></b></div>
        </div>
    </div>
</div>
<div class="row ng-scope">
    <div class="col-xs-12">NY SORT. Kommer snart! Mycket mörkt rostat kaffe från Brasilien och Indien.</div>
</div>

<div class="row v-offset-2 ng-scope">
    <div class="col-xs-12">
        <p>
            <b><small>PRIS 1 - Högsta o lägsta pris per kg beroende på förbrukning</small></b>
        </p>
        <p>
            <b><small>PRIS 2 - Som ovan inklusive hyra av kaffemaskin 1 (Minst 40Kg / månad)</small></b>
        </p>
        <p>
            <b><small>PRIS 2 - Som ovan inklusive hyra av kaffemaskin 2 (Minst 40Kg / månad)</small></b>
        </p>
    </div>
</div>
<div class="row v-offset-2 ng-scope">
    <div class="col-xs-12">
        <p>
            <small>Fri leverans varannan vecka. Kassarabatt 2% vid kontant betalning. Samtliga kaffepriser exkl 12% moms.</small>
        </p>
        <p>
            <small>* Innehållet varierar beroende på tillgång.</small>
        </p>
    </div>
</div>

<div class="row v-offset-2 ng-scope">
    <div class="col-sm-6">
        <div class="row">
            <div class="col-xs-4">
                <img class="img-responsive" src="/Images/Bonamat_Mondo_2.png" alt="Bonamat Mondo 2">
            </div>
            <div class="col-xs-8">
                <p>
                    <b>Kaffemaskin 1</b>
                </p>
                <p>
                    Bonamat Mondo 2
                </p>
                <p>
                    Kvalitetsbryggare som håller i decennier. 12 koppar på 5 min.
                </p>
                <p>
                    Kontantpris: 3900:- (Inklusive underhåll)
                </p>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="row">
            <div class="col-xs-8">
                <p><b>Kaffemaskin 2</b></p>
                <p>Bonamat Freshmore G</p>
                <p>
                    Maler och färskbrygger. Matas med hela bönor. 25s per kopp.
                </p>
                <p>
                    Kontantpris: 24900:-
                    (Inklusive underhåll)
                </p>
            </div>
            <div class="col-xs-4">
                <img class="img-responsive" src="/Images/Bonamat_Freshmore_G.png" alt="Bonamat Freshmore G">
            </div>
        </div>
    </div>
</div>