

<html>

<body>
    <h3><p style="text-align:center">Månadens HiFi-entusiast Mars 2018</p></h3>
    <h4>
        <p>
            Grattis till Mathias Brattberg som lyckades med bedriften att bli månadens HiFi-entusiast!<br>
            Genom sitt genuina intresse för ljudkvalitet och sitt vårdande om vårt hifi-kulturarv så har Mathias förtjänat sig en T-shirt med tryck från David Monsen. 
        </p>
    </h4>
    <br><br>

    <p style="text-align:center">
      Mer info om Vintage HiFi kan du få i facebook-gruppen <a href="https://www.facebook.com/groups/vintage.hifisweden/">Vintage HiFi & Stereo Sverige</a>

    </p>


    <p><img class="img-responsive center" src="/Images/bratta.jpg" /></p>

    <br><br><br>

    <h3><p style="text-align:center">Åseda Matmässa 2018</p></h3>
    <h4>
        <p style="text-align:center">
            Lördagen den 24 Mars kl 10-13 så bjuder vi på Smålandskaffe i Sillakröken!<br>
            Butiken på Olofsgatan 7 håller öppet och där finns samtliga blandningar till salu, alldeles nyrostade.
        </p>
    </h4>
    <br><br>

    <p style="text-align:center">
        <a href="http://www.uppvidinge.se/7855.html">Åseda Matmässa 2018, klicka för att komma till Uppvidinge kommuns information om eventet.</a>
    </p>
    <br>
    <br><br>



    <p style="text-align:center">
        Området där Matmässan tar plats i år, bilden är dock tagen okänt år. Från facebook-gruppen <a href="https://www.facebook.com/groups/149843329057615/">Gamla Åsedabilder</a>

    </p>


    <p><img class="img-responsive center" src="/Images/sillakröken.jpg" /></p>



</body>
</html>