<h1>Kärnkaffe</h1>
<p class="lead">Vi saluför följande utvalda kvalitetsblandningar av kaffe förpackat på 1kg hela bönor eller 500g bryggmalet för företag, caféer, restauranger etc. Säljes på kartong om 10kg.</p>
<div class="row">


    <div class="col-sm-3 pull-left">
        <img width="200" height="200" class="img-responsive sm-pull-right" src="/Images/KKmellan.gif" />
    </div>
    <div class="col-sm-9">
        <a name="Mellanrost"></a>
        <h2>Mellanrost</h2>
        <p class="lead">Ekologisk blandning från Peru och Honduras.<br>
		Fyllig blandning med fruktig eftersmak.</p>
        <p>Hela bönor 1kg eller bryggmalet 500g, kartong om 10kg</p>
        <p>100% Arabica</p>
    </div>
</div>
<div class="row v-offset-1">
    <div class="col-sm-3 pull-left">
        <img width="200" height="200" class="img-responsive sm-pull-right" src="/Images/KKskåne.gif" />
    </div>
    <div class="col-sm-9">
        <a name="Skånerost"></a>
        <h2>Skånerost</h2>
        <p class="lead">En klassiker blandad av Brasilianskt, Colombianskt och Kenyanskt kaffe.
		En väl balanserad och smakrik blandning som ger en lång eftersmak.</p>
        <p>Hela bönor 1kg eller bryggmalet 500g, kartong om 10kg</p>
        <p>100% Arabica</p>
    </div>
</div>

<div class="row v-offset-1">
    <div class="col-sm-3 pull-left">
        <img width="200" height="200" class="img-responsive sm-pull-right" src="/Images/KKesp.gif" />
    </div>
    <div class="col-sm-9">
        <a name="Mörkrost"></a>
        <h2>Mörkrost</h2>
        <p class="lead">Mörkare blir det inte. Passar bra till espresso eller de som vill ha det mörkaste kaffet i bryggaren.</p>
        <p>Hela bönor 1kg eller bryggmalet 500g, kartong om 10kg</p>
        <p>80% Arabica, 20% Robusta</p>
    </div>
</div>
