<h2><p style="text-align:center">Kärn-Kaffe</p></h2>
<p><h4>Vi saluför följande utvalda kvalitetsblandningar av kaffe förpackat på 1kg hela bönor eller 500g bryggmalet för företag, caféer, restauranger etc. 
    Säljes på kartong om 10kg.</h4></p><br><br>
<div class="row">


    <div class="col-sm-3 pull-left">
        <img width="200" height="200" class="img-responsive sm-pull-right" src="/Images/KKmellan.gif" />
    </div>
    <div class="col-sm-9">
        <a name="Mellanrost"></a>
        <h3>Mellanrost</h3>
        <p>
            Ekologisk blandning från Peru och Honduras.<br>
            Fyllig blandning med fruktig eftersmak.
        </p>
        <p>Hela bönor 1kg eller bryggmalet 500g, kartong om 10kg</p>
        <p>100% Arabica</p>
    </div>
</div>
<div class="row v-offset-1">
    <div class="col-sm-3 pull-left">
        <img width="200" height="200" class="img-responsive sm-pull-right" src="/Images/KKskåne.gif" />
    </div>
    <div class="col-sm-9">
        <a name="Skånerost"></a>
        <h3>Skånerost</h3>
        <p>
            En klassiker blandad av Brasilianskt, Colombianskt och Kenyanskt kaffe.
            En väl balanserad och smakrik blandning som ger en lång eftersmak.
        </p>
        <p>Hela bönor 1kg eller bryggmalet 500g, kartong om 10kg</p>
        <p>100% Arabica</p>
    </div>
</div>

<div class="row v-offset-1">
    <div class="col-sm-3 pull-left">
        <img width="200" height="200" class="img-responsive sm-pull-right" src="/Images/KKesp.gif" />
    </div>
    <div class="col-sm-9">
        <a name="Mörkrost"></a>
        <h3>Mörkrost</h3>
        <p>Mörkare blir det inte. Passar bra till espresso eller de som vill ha det mörkaste kaffet i bryggaren.</p>
        <p>Hela bönor 1kg eller bryggmalet 500g, kartong om 10kg</p>
        <p>80% Arabica, 20% Robusta</p>
    </div>
</div>
<h3><p style="text-align:center">Historien bakom Kärn-Kaffe</p></h3><br>
<img class="img-responsive center" src="/Images/kärnkaffehelsingborg.jpg" /><br><br>
<p>
    Kärn-Kaffe är ett skånskt varumärke som skapades i början av 1900-talet.<br>
    "1926 startade köpmannen Josef Carlsson firman Södra Kaffemagasinet
    för försäljning av kaffe i parti och minut under märket Kärnkaffe samt
    med eget kafferosteri. Huvudaffären och rosteriet låg vid Sundstorget,
    medan det fanns filialbutiker runtom i staden.<br>
    På kort tid växte verksamheten till att bli en av de största inom
    bransch i södra Sverige. Därför togs 1939 steget att uppföra en egen
    fastighet på Gåsebäcks industriområde. Arkitekten Filip Lundgrens
    byggnad stod färdig hösten 1939 och var ett renodlat funkishus med
    lådartad karaktär.<br>
    Fasadmaterialet var rödbrunt Helsingborgstegel och det plana taket
    var täckt med papp. Över taket reste sig ett runt torn som möjligen var
    toppen av en kaffesilo och på ovanpå denna uppsattes en stor neonskylt
    med reklam för företaget." ... "1972 köptes Kärnkaffe av konkurrenten
    Zoégas och efter en tid lades rosteriet ner."<br>
    Källa: Bevarandeprogram för Gåsebäck och Husarområdet, nov 2012<br>
    1986 köptes Zoégas av Nestlé, som är världens största företag inom
    industriell produktion av livsmedel.<br>
    Varumärket Kärn-Kaffe ägs numera av familjeföretaget Smålands Kafferosteri AB.
    </p>
