<h1>Lokalt rostat kaffe</h1>
<p class="lead">På Olofsgatan 7 i Åseda rostar vi kaffe från Världens alla hörn.<br>
Vi har smakat oss fram till några speciellt lyckade kombinationer som vi säljer till kaffeälskare<br>
i framför allt Småland. Nedan finner du våra bästsäljare. Vi rostar även kaffe på beställning och<br> 
kan ta fram en exklusiv produkt vid behov. Våra kunder är restauranger, caféer och företag.<br>
Vi levererar gratis i närområdet. Privatpersoner är välkomna till vår butik på Torsdagar 12-18<br>
då man även har möjlighet att se hur det går till att rosta kaffe. Vi utför även kaffeprovningar<br>
på beställning, kontakta oss för mer information. </p>

<div class="row v-offset-2">
    <div class="col-sm-3 pull-left">
        <img class="img-responsive sm-pull-right" src="/Images/DK.jpg" alt="Dubbelknäppt" />
    </div>
    <div class="col-sm-9">
        <p>
            Dubbelknäppt<br> 
			Vår äldsta och mest uppskattade blandning.<br>
			Kaffebönor har något gemensamt med popcorn: de "knäpper" när man rostar dem.<br>
            En kaffeböna knäpper minst en gång under rostning; detta på grund av att värmen får den att utvidgas.
            Rostar man kaffet ännu mörkare så att man närmar sig de absolut mörkaste tonerna kan man hinna med ytterligare en knäpp.
			Därav "Dubbelknäppt".
        </p>
        <p>
            För att bredda smakspektrat hos denna dubbelknäppta rostning har vi även adderat en del ljusare rostad Arabica från Rwanda.
        </p>
        <p>
            En blandning av:
        </p>
        <ul>
            <li>Brazil Cerrado NY2 fine cup Arabica</li>
            <li>Red Bourbon från Rwanda - Green Mountain Arabica</li>
            <li>Indian Cherry AA Robusta</li>
        </ul>
    </div>
</div>

<div class="row v-offset-2">
    <div class="col-sm-3 pull-left">
        <img class="img-responsive sm-pull-right" src="/Images/DKplus.jpg" alt="Dubbelknäppt"/>
    </div>
    <div class="col-sm-9">
        <p>
            Dubbelknäppt Plus<br>
			Vår mörkaste rostning. En blandning för de som vill dricka riktigt starkt, mörkt och intensivt kaffe.
        </p>
       
        <ul>
            <li>Brazil Cerrado NY 2 fine cup Arabica</li>
			<li>Indisk Cherry AA Robusta</li>
        </ul>
       
    </div>
</div>

<div class="row v-offset-2">
    <div class="col-sm-3 pull-left">
        <img class="img-responsive sm-pull-right" src="/Images/VP.jpg" alt="Välpackat" />
    </div>
    <div class="col-sm-9">
        <p>
            Välpackat<br> 
			En smakrik blandning som är ljus och mellanrostad.<br>
			Fyllig försmak och en fruktig beska i eftersmaken.
        </p>
		 <p>
            En blandning av:
        </p>
        <ul>
            <li>Honduras SHG EP Marcala Fairtrade + Organic Arabica</li>
            <li>Peru SHB EP Organic Chanchamayo Arabica</li>
            <li>Indian Cherry AA Robusta</li>
        </ul>
    </div>
</div>

<div class="row v-offset-2">
    <div class="col-sm-3 pull-left">
        <img class="img-responsive sm-pull-right" src="/Images/SMK.jpg" alt="Välpackat" />
    </div>
    <div class="col-sm-9">
        <p>
            Smålandskaffe<br> 
			Vårt allra bästa kaffe.
			Vi har valt ut två sorters kaffebönor från Indonesien och en från Brasilien<br>
			som vi rostar och blandar för att få fram en härligt fyllig arom med lång<br>
			eftersmak av kakao.
        </p>
		 <p>
            En blandning av:
        </p>
        <ul>
            <li>Brazil Cerrado Arabica Organic</li>
            <li>Papua Nya Guinea PSC A/X Arabica Organic</li>
            <li>Indonesia Sumatra DP Mandheling Fairtrade + Organic</li>
        </ul>
    </div>
</div>

<h1>Beställningssortiment</h1>
<p class="lead">Följande kaffesorter är så kallade "single origins" som vi rostar på beställning.<br>
Sorterna är i regel dyrare än blandningarna då det är dyrt med kaffesorter som håller en lika balanserad<br>
smak som en blandning.</p>

<div class="row v-offset-2">
    <div class="col-sm-3 pull-left">
        <img class="img-responsive sm-pull-right" src="/Images/SOhalv.jpg" alt="Välpackat" />
    </div>
    <div class="col-sm-9">
        <p>
            NordVäst<br> 
			Innehåller kaffebönor som växer på nordvästra hemisfären.
			Honduras SHG EP Marcala Arabica Organic 
        </p>
    </div>
</div>

<div class="row v-offset-2">
    <div class="col-sm-3 pull-left">
        <img class="img-responsive sm-pull-right" src="/Images/SOhalv.jpg" alt="Välpackat" />
    </div>
    <div class="col-sm-9">
        <p>
            SydVäst<br> 
			Innehåller kaffebönor som växer på syddvästra hemisfären.
			Peru SHB EP Chanchamayo Arabica Organic 
        </p>
    </div>
</div>

<div class="row v-offset-2">
    <div class="col-sm-3 pull-left">
        <img class="img-responsive sm-pull-right" src="/Images/SOhalv.jpg" alt="Välpackat" />
    </div>
    <div class="col-sm-9">
        <p>
            NordOst<br> 
			Innehåller kaffebönor som växer på nordöstra hemisfären.
			Rwanda Red Bourbon AA, Green Mountain Coffee 
        </p>
    </div>
</div>

<div class="row v-offset-2">
    <div class="col-sm-3 pull-left">
        <img class="img-responsive sm-pull-right" src="/Images/SOhalv.jpg" alt="Välpackat" />
    </div>
    <div class="col-sm-9">
        <p>
            SydOst<br> 
			Innehåller kaffebönor som växer på sydöstra hemisfären.
			Indonesia Sumatra Mandheling DP Arabica
        </p>
    </div>
</div>