<h1><p style="text-align:center">LOKALT ROSTAT KAFFE</p></h1>

<img src="/Images/simonikassanS.jpg" style="float: left; width: 99%; margin-right: 1%; margin-bottom: 3.5em;"/>

<p class="lead">På Olofsgatan 7 i Åseda rostar vi kaffe från Världens alla hörn.<br>
Vi har smakat oss fram till några speciellt lyckade kombinationer som vi säljer till kaffeälskare
i framför allt Småland. I vår butik så kan du smaka på våra olika sorter och se hur det går till 
att rosta kaffe, vi har öppet Torsdagar kl 12-18.<br><br>

Vi rostar även kaffe på beställning och kan ta fram en exklusiv produkt vid behov. 
Vi håller gärna kaffeprovningar för företag eller grupper.
Våra kunder är restauranger, caféer och företag. Gratis leverans i närområdet.<br><br>

Kaffepriset i vår butik är: 1/4kg 60kr, 1/2kg 100kr, 1kg 180kr oavsett sort.<br>
Separat prislista för företag.</p>



<br><br>

<img src="/Images/SMKCAPU.jpg" style="float: left; width: 49%; margin-right: 1%; margin-bottom: 0.5em;"/>
 <img src="/Images/VPCAPU.jpg" style="float: left; width: 49%; margin-right: 1%; margin-bottom: 0.5em;"/>

 <p style="clear: both;">
 
 <br><br>
 
 <h3>VÅRA PRODUKTER</h3><br><br>

<div class="row v-offset-2">
    <div class="col-sm-3 pull-left">
        <img class="img-responsive sm-pull-right" src="/Images/DKvit.gif" alt="Dubbelknäppt" />
    </div>
    <div class="col-sm-9">
        <p>
            <h4>DUBBELKNÄPPT</h4>
			Vår äldsta och mest uppskattade blandning.<br>
			Kaffebönor har något gemensamt med popcorn: de "knäpper" när man rostar dem.
            En kaffeböna knäpper minst en gång under rostning; detta på grund av att värmen får den att utvidgas.
            Rostar man kaffet ännu mörkare så att man närmar sig de absolut mörkaste tonerna kan man hinna med ytterligare en knäpp.
			Därav "Dubbelknäppt".
        </p>
        <p>
            För att bredda smakspektrat hos denna dubbelknäppta rostning har vi även adderat en del ljusare rostad Arabica från Rwanda.
        </p>
        <p>
            En blandning av:
        </p>
        <ul>
            <li>Brazil Cerrado NY2 fine cup Arabica</li>
            <li>Red Bourbon från Rwanda - Green Mountain Arabica</li>
            <li>Indian Cherry AA Robusta</li>
        </ul>
    </div>
</div>

<div class="row v-offset-2">
    <div class="col-sm-3 pull-left">
        <img class="img-responsive sm-pull-right" src="/Images/DK2vit.gif" alt="Dubbelknäppt"/>
    </div>
    <div class="col-sm-9">
        <p>
            <h4>DUBBELKNÄPPT PLUS</h4>
			Vår mörkaste rostning.<br> 
			En blandning för de som vill dricka riktigt starkt, mörkt och intensivt kaffe.
        </p>
       
        <ul>
            <li>Brazil Cerrado NY 2 fine cup Arabica</li>
			<li>Indisk Cherry AA Robusta</li>
        </ul>
       
    </div>
</div>

<div class="row v-offset-2">
    <div class="col-sm-3 pull-left">
        <img class="img-responsive sm-pull-right" src="/Images/VPvit.gif" alt="Välpackat" />
    </div>
    <div class="col-sm-9">
        <p>
            <h4>VÄLPACKAT</h4> 
			En smakrik blandning som är ljus och mellanrostad.<br>
			Fyllig försmak och en fruktig beska i eftersmaken.
        </p>
		 <p>
            En blandning av:
        </p>
        <ul>
            <li>Honduras SHG EP Marcala Fairtrade + Organic Arabica</li>
            <li>Peru SHB EP Organic Chanchamayo Arabica</li>
            <li>Indian Cherry AA Robusta</li>
        </ul>
    </div>
</div>

<div class="row v-offset-2">
    <div class="col-sm-3 pull-left">
        <img class="img-responsive sm-pull-right" src="/Images/SMKvit.gif" alt="Välpackat" />
    </div>
    <div class="col-sm-9">
        <p>
            <h4>SMÅLANDSKAFFE</h4> 
			Vårt allra bästa kaffe.<br>
			Vi har valt ut två sorters kaffebönor från Indonesien och en från Brasilien
			som vi rostar och blandar för att få fram en härligt fyllig arom med lång
			eftersmak av kakao.
        </p>
		 <p>
            En blandning av:
        </p>
        <ul>
            <li>Brazil Cerrado Arabica Organic</li>
            <li>Papua Nya Guinea PSC A/X Arabica Organic</li>
            <li>Indonesia Sumatra DP Mandheling Fairtrade + Organic</li>
        </ul>
    </div>
</div>
<br><br>

 <img src="/Images/DKESP.jpg" style="float: left; width: 33%; margin-right: 1%; margin-bottom: 0.5em;"/>
 <img src="/Images/rostning.jpg" style="float: left; width: 30%; margin-right: 1%; margin-bottom: 0.5em;"/>
 <img src="/Images/VPPRESS.jpg" style="float: left; width: 33%; margin-right: 1%; margin-bottom: 0.5em;"/>
 <p style="clear: both;">
 
 
 
<br><br>

<h1>Beställningssortiment</h1>
<p class="lead">Följande kaffesorter är så kallade "single origins" som vi rostar på beställning.<br>
Sorterna är i regel dyrare än blandningarna då det är dyrt med kaffesorter som håller en lika balanserad
smak som en blandning.</p>

<div class="row v-offset-2">
    <div class="col-sm-3 pull-left">
        <img class="img-responsive sm-pull-right" src="/Images/SOhalv.jpg" alt="Välpackat" />
    </div>
    <div class="col-sm-9">
        <p>
            <h4>NORDVÄST</h4>
			Innehåller kaffebönor som växer på nordvästra hemisfären.
			Honduras SHG EP Marcala Arabica Organic 
        </p>
    </div>
</div>

<div class="row v-offset-2">
    <div class="col-sm-3 pull-left">
        <img class="img-responsive sm-pull-right" src="/Images/SOhalv.jpg" alt="Välpackat" />
    </div>
    <div class="col-sm-9">
        <p>
            <h4>SYDVÄST</h4>
			Innehåller kaffebönor som växer på syddvästra hemisfären.
			Peru SHB EP Chanchamayo Arabica Organic 
        </p>
    </div>
</div>

<div class="row v-offset-2">
    <div class="col-sm-3 pull-left">
        <img class="img-responsive sm-pull-right" src="/Images/SOhalv.jpg" alt="Välpackat" />
    </div>
    <div class="col-sm-9">
        <p>
            <h4>NORDOST</h4>
			Innehåller kaffebönor som växer på nordöstra hemisfären.
			Rwanda Red Bourbon AA, Green Mountain Coffee 
        </p>
    </div>
</div>

<div class="row v-offset-2">
    <div class="col-sm-3 pull-left">
        <img class="img-responsive sm-pull-right" src="/Images/SOhalv.jpg" alt="Välpackat" />
    </div>
    <div class="col-sm-9">
        <p>
            <h4>SYDOST</h4>
			Innehåller kaffebönor som växer på sydöstra hemisfären.
			Indonesia Sumatra Mandheling DP Arabica
        </p>
    </div>
</div>

<br><br>

 <img src="/Images/DKPRESS.jpg" style="float: left; width: 32%; margin-right: 1%; margin-bottom: 0.5em;"/>
 <img src="/Images/DKESP2.jpg" style="float: left; width: 32%; margin-right: 1%; margin-bottom: 0.5em;"/>
 <img src="/Images/DKplusPRESS.jpg" style="float: left; width: 32%; margin-right: 1%; margin-bottom: 0.5em;"/>
 <p style="clear: both;">
 <img src="/Images/butiken6.jpg" style="float: left; width: 99%; margin-right: 1%; margin-bottom: 3.5em;"/>