<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <base href="/" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="Vintage HiFi, High End, Stereo, Mono, Pioneer,
Marantz, Sansui, Åseda, Sony, JVC Nivico, Peerless, Bang & Olufsen, Beovox,
Pioneer HPM-150, Pioneer PL-70LII, Pioneer Exclusive C3, Pioneer Exclusive M5,
 Technics SA-5560, Beogram 9500,
Pioneer Exclusive, Technics, Uher, Sonab, Harman Kardon, Leak, Tandberg, Tannoy, JBL">
    <meta name="description" content="Hellre HiFi på hyllan än pengar på banken.">
    <title>Åseda Hi-Fi</title>
    <meta name="author" content="Åseda HiFi" />

    <meta property="og:title" content="Åseda HiFi" />
    <meta property="og:url" content="http://www.rosteriet.com/ÅsedaHiFi" />
    <meta property="og:image" content="http://rosteriet.com/Templates/ÅsedaHIFI/Images/åsedahifi2.png" />
    <meta property="og:description" content="Hellre HiFi på hyllan än pengar på banken." />


</head>

<img class="img-responsive" src="/App/Templates/ÅsedaHIFI/images/åsedahifi2.png" />

<h2><p style="text-align:center">Adress: Olofsgatan 7 ÅSEDA</p></h2>
<h2><p style="text-align:center">Öppet: Torsdagar kl 12-18 eller enl ök.</p></h2>
<h2><p style="text-align:center">Kontakt: 0708454442 <a href="mailto:hifi@kulturellt.org">hifi@kulturellt.org</a></p></h2><br>

<h2><p>TILL SALU JUST NU:</h2>
Klicka på länkarna för att se bilder.</p><br><br>

<h3><a href="#Butiken">Klicka här för bilder från butiken</a></h3><br>

<h3>FÖRSTÄRKARE</h3>
Alla förstärkare är rengjorda in- och utvändigt samt funktionstestade. I vissa fall är de reparerade och då används i möjligaste mån originalkomponenter - speciellt när det gäller toppmodeller.<br><br>

<h4><a href="/App/Templates/ÅsedaHIFI/images/IMG_20190104_144323.jpg" target="_blank">Gold Star 754 1400kr</a></h4> Integrerad förstärkare  2x45W, 12,5kg. 1978 1900kr. Kopia på Pioneer SA-8500 mkII från nuvarande LG(Lucky Goldstar)<br>
<h4><a href="/App/Templates/ÅsedaHIFI/images/2018-03-01-2882.jpg" target="_blank">Marantz PM-35 1000kr</a></h4>Integrerad förstärkare 2x45W, 6,7kg. 1987-90 1000kr.<br>
<h4><a href="/App/Templates/ÅsedaHIFI/images/2018-02-15-2776.jpg" target="_blank">Pioneer SPEC-1 6900kr</a></h4>En mycket kompetent förförstärkare som arbetar helt i klass A. 1976-80. 11,2kg.  Perfekt skick. Svensksåld.<br>
<h4><a href="/App/Templates/ÅsedaHIFI/images/IMG_20180526_142624.jpg" target="_blank">Pioneer SX-450 2300kr</a></h4>Receiver i originalkartong inkl manual. Perfekt skick. 2x15W i 8ohm, 8,6kg. 1976-79<br>
<h4><a href="/App/Templates/ÅsedaHIFI/images/sx626.jpg" target="_blank">Pioneer SX-626 2900kr</a></h4>En av de mest välkända av receivers, och det av en god anledning. Perfekt skick. 2x20W i 8ohm, 10kg. 1972-74<br>
<h4><a href="/App/Templates/ÅsedaHIFI/images/Sansui101.jpg" target="_blank">Sansui AU-101 2200kr</a></h4>Integrerad kvalitetsförstärkare med mycket bra data. 2x15W, 1973.<br>
<h4><a href="/App/Templates/ÅsedaHIFI/images/Sansui1000.jpg" target="_blank">Sansui Solid State 1000X 2800kr</a></h4>Kompetent receiver med mycket kraft. 2x28W, 1970.<br>
<h4><a href="/App/Templates/ÅsedaHIFI/images/sonykombo.jpg" target="_blank">Sony STR-11L 900kr</a></h4>Bra receiver som fungerar fint. 2x25W, 1978.<br>
<h4><a href="/App/Templates/ÅsedaHIFI/images/sonyta1150.jpg" target="_blank">Sony TA-1150 2600kr</a></h4>Integrerad kvalitetsförstärkare med delbart för/slutsteg, två skivspelaringångar och rumblefilter. Inkl original manual. 2x30W, 8,3kg 1973.<br>
<h4><a href="/App/Templates/ÅsedaHIFI/images/technics.jpg" target="_blank">Technics SU-V570 1500kr</a></h4>Integrerad förstärkare 2x60W i 8ohm 9kg Perfekt skick.<br>
<h4><a href="/App/Templates/ÅsedaHIFI/images/vx700.jpg" target="_blank">Technics SU-VX700 2500kr</a></h4>Integrerad förstärkare 2x90W i 8ohm 14kg Perfekt skick.<br>
<h4><a href="/App/Templates/ÅsedaHIFI/images/IMG_20180526_141728.jpg" target="_blank">Toshiba SR-304 1900kr</a></h4>Ovanlig receiver med god kvalitet. 2x30W. Perfekt skick.<br>
<h4><a href="/App/Templates/ÅsedaHIFI/images/Uher140.jpg" target="_blank">Uher CV 140 2400kr</a></h4>Integrerad förstärkare. Mycket ovanlig. 2x40W Perfekt skick. 1970 <br>
<h4><a href="/App/Templates/ÅsedaHIFI/images/yamahakombo.jpg" target="_blank">Yamaha R-3 700kr</a></h4>Ok receiver som fungerar bra. 2x35W, 5,2kg. 1985-86.<br><br>

<h3>SKIVSPELARE</h3>
Samtliga skivspelare har ny rem och rengjord samt nyoljat centrumlager och motor. Tonarmslagringen är undersökt och åtgärdad om den inte duger.
Diamanten är undersökt med mikroskop och bytt till ny om den inte duger.<br><br>

<h4><a href="/App/Templates/ÅsedaHIFI/images/bogen2.jpg" target="_blank">Bogen Presto 4500kr</a></h4>Dansk variant på Lenco L75-bas. Mycket god kvalitet. Perfekt skick<br>
<h4><a href="/App/Templates/ÅsedaHIFI/images/luxor9381.jpg" target="_blank">Luxor Professional 9381 1900kr</a></h4>Svenskbyggd spelare som fungerar bra. PU Shure M75 i gott skick.<br>
<h4><a href="/App/Templates/ÅsedaHIFI/images/marlux.jpg" target="_blank">Marlux MX-86 1450kr</a></h4>Ovanlig spelare från tillverkare som senare blev uppköpt av Pioneer. Direktdrivet kvalitetsverk. Lite repigt lock.<br>
<h4><a href="/App/Templates/ÅsedaHIFI/images/2018-03-01-2874.jpg" target="_blank">Pioneer PL-112d 1300kr</a></h4>Evighetsmaskin. Lock är missfärgat och plint är sliten.<br>
<h4><a href="/App/Templates/ÅsedaHIFI/images/pl70a.jpg" target="_blank">Pioneer PL-70LII 26900kr</a></h4>En av Pioneers bästa skivspelare, alla kategorier. 25kg. 11" stegbart oljedämpad arm i grafitkomposit. Pickup PC-550mkII NOS<br>
<h4><a href="/App/Templates/ÅsedaHIFI/images/IMG_20190104_145941.jpg" target="_blank">Kompaktanläggning Stereogram 512 900kr</a></h4>Helautomatisk spelare med inbyggd receiver i fint skick.<br>
<h4><a href="/App/Templates/ÅsedaHIFI/images/IMG_20190104_150016.jpg" target="_blank">Kompaktanläggning Skantic 17S 2600kr</a></h4>Svenskbyggd. Helautomatisk spelare med inbyggd receiver i perfekt skick. Inkl Högtalare.<br>
<h4><a href="/App/Templates/ÅsedaHIFI/images/technicsslb210.jpg" target="_blank">Technics SL-B210 500kr</a></h4>Enkel men pålitlig spelare. Perfekt skick. Ny rem + nål.<br>
<h4><a href="/App/Templates/ÅsedaHIFI/images/td165a.jpg" target="_blank">Thorens TD-165 2400kr</a></h4>Fin spelare i Tandberg-plint. Ny rem + pickup (Audio Technica AT-3401). Lock något repigt.<br>
<h4><a href="/App/Templates/ÅsedaHIFI/images/unamco.jpg">Unamco T-1 2900kr</a></h4>Svensk kvalitetsspelare med 11" tonarm. Ny rem + nål.<br><br>

<h3>PICKUP</h3>
Samtliga pickuper är undersökta vad gäller impedans och skick på diamant. Närbilder kan fås på förfrågan.<br><br>

<h4><a href="/App/Templates/ÅsedaHIFI/images/2018-03-06-2923.jpg" target="_blank">Ortofon A25 5900kr</a></h4>Legendarisk Moving Coil Pickup. För LP. Spole mäter bra, diamant i gott skick.<br>
<h4><a href="/App/Templates/ÅsedaHIFI/images/2018-03-06-2921.jpg" target="_blank">Ortofon A75 4900kr</a></h4>Legendarisk Moving Coil Pickup. För LP. Spole mäter bra, diamant i gott skick.<br><br>

<h3>KASSETTSPELARE</h3>
Samtliga spelare är funktionstestade, tonhuvuden rengjorda och avmagnetiserade. Remmar är bytta vid behov.
Vid rembyte så är även mekanismen rengjord och återfettad.<br><br>

<h4><a href="/App/Templates/ÅsedaHIFI/images/onkyor1.jpg" target="_blank">Onkyo R1 TA-240 1400kr</a></h4>Väl fungerande kassettspelare med 3 huvuden och 3 motorer.<br>
<h4><a href="/App/Templates/ÅsedaHIFI/images/Sonytc186.jpg" target="_blank">Sony TC-186SD 900kr</a></h4>Trevlig spelare med god kvalitet.<br>
<h4><a href="/App/Templates/ÅsedaHIFI/images/sonykombo.jpg" target="_blank">Sony TC-U2 800kr</a></h4>Klassisk spelare med god kvalitet. Kombopris möjligt.<br>
<h4><a href="/App/Templates/ÅsedaHIFI/images/technics.jpg" target="_blank">Technics RS-B565 800kr</a></h4>Kassettspelare i perfekt skick. Kombopris möjligt.<br>
<h4><a href="/App/Templates/ÅsedaHIFI/images/yamahakombo.jpg" target="_blank">Yamaha K-220 500kr</a></h4>Trevlig spelare med god kvalitet. Kombopris möjligt.<br>
<h4><a href="/App/Templates/ÅsedaHIFI/images/2018-03-01-2883.jpg" target="_blank">Yamaha TC-520B 750kr</a></h4>Kassettspelare av hög kvalitet som fungerar utan anmärkning. Kombopris möjligt.<br><br>

<h3>RULLBANDSPELARE</h3>
Samtliga spelare är funktionstestade, tonhuvuden är rengjorda och avmagnetiserade. Remmar är bytta vid behov.
Vid rembyte så är även mekanismen rengjord och återfettad.<br><br>


<h3>RADIOENHETER</h3>
Samtliga radioenheter är funktionstestade.<br><br>

<h4><a href="/App/Templates/ÅsedaHIFI/images/IMG_20190104_144323.jpg" target="_blank">Gold Star 753 400kr</a></h4>Kopia på Pioneer TX-8500 mkII från nuvarande LG(Lucky Goldstar) Kombopris möjligt.<br>
<h4><a href="/App/Templates/ÅsedaHIFI/images/2018-03-01-2882.jpg" target="_blank">Marantz ST-54 350kr</a></h4>Digital radiodel med bra funktion. Kombopris möjligt.<br>
<h4><a href="/App/Templates/ÅsedaHIFI/images/2018-03-01-2883.jpg" target="_blank">Yamaha CT-V2 450kr</a></h4>Kvalitativ radiodel med mycket bra mottagning. Kombopris möjligt.<br><br>

<h3>CD-SPELARE</h3>
Samtliga cd-spelare är funktionstestade.<br><br>

<h4><a href="/App/Templates/ÅsedaHIFI/images/technics.jpg" target="_blank">Technics SL-P370 600kr</a></h4>Pålitlig cd-spelare med hög kvalitet.<br><br>

<h3>HÖGTALARE</h3>
Samtliga högtalare är funktionstestade och kantringar är bytta vid behov. Pris per par.<br><br>

<h4><a href="/App/Templates/ÅsedaHIFI/images/beovox5000.jpg" target="_blank">Beovox 5000 + 2500 "Cube" 6900kr</a></h4>Rariteter i mycket fint skick.<br>
<h4><a href="/App/Templates/ÅsedaHIFI/images/carlssonoa5.jpg" target="_blank">Carlsson OA-5.1 2600kr</a></h4>Carlsson OA-5.1 är ett stycke Svensk kulturhistoria. Bestyckad med Philips berömda 9710-bas i 8ohm samt Peerless diskanter. Mycket gott skick.<br>
<h4><a href="/App/Templates/ÅsedaHIFI/images/JamoJ120.jpg" target="_blank">Jamo J-120 Studio Monitor 2500kr</a></h4>En av Jamos bästa högtalare. Textilkanter, håller i evigheter. Fint skick. Fronter finns naturligtvis.<br>
<h4><a href="/App/Templates/ÅsedaHIFI/images/2018-04-01-3100.jpg" target="_blank">JBL L19 2900kr RESERVERADE</a></h4>En utmärkt monitor. Bestyckad med den berömda LE26-diskanten. Perfekt skick. Fronter finns naturligtvis.<br>

<h3>TILLBEHÖR</h3>
Vi har letat fram tillbehör som håller hög kvalitet till lågt pris.<br><br>

<h4><a href="/App/Templates/ÅsedaHIFI/images/2018-02-15-2788.jpg" target="_blank">Kassettband 5kr</a></h4>Kassettband inspelade 1 gång. Radioprogram och musik från 70-80tal.<br>
<h4><a href="/App/Templates/ÅsedaHIFI/images/2018-02-15-2789.jpg" target="_blank">Libell 90kr</a></h4>Libell för perfekt placering av skivspelare.<br>
<h4><a href="/App/Templates/ÅsedaHIFI/images/2018-02-15-2789.jpg" target="_blank">Skivborste 80kr SLUTSÅlD</a></h4>Kolfiberborste för att ta bort damm och statisk elektricitet på vinylskivan innan avspelning.<br>
<h4><a href="/App/Templates/ÅsedaHIFI/images/2018-02-15-2787.jpg" target="_blank">Nålvåg 200kr</a></h4>Nålvåg som visar upp till 5g +-0.01g. Kalibreringsvikt och manual medföljer.<br>
<h4><a href="/App/Templates/ÅsedaHIFI/images/2018-02-15-2793.jpg" target="_blank">Sleeves Inner 4kr</a></h4>Innerfickor, åldersbeständig 70g arkivpapper med antistatisk polyethylene.<br>
<h4><a href="/App/Templates/ÅsedaHIFI/images/2018-02-15-2791.jpg" target="_blank">Sleeves Ytter 3kr</a></h4>Plastfickor av OPP 50 micron. Åldersbeständiga.<br>
<h4><a href="/App/Templates/ÅsedaHIFI/images/2018-02-15-2791.jpg" target="_blank">Sleeves Ytter 3kr</a></h4>Plastfickor till Dubbel-LP av OPP 50 micron. Åldersbeständiga.<br><br><br>

<p><h3><p style="text-align:center">Hellre HiFi på hyllan än pengar på banken</p></h3>
Mitt på det Småländska höglandet, i lilla Åseda finner ni vår butik fylld med vintage stereo-apparater från den gyllene HiFi-eran.
Apparaterna är rengjorda, servade och testkörda under längre tid. Alla apparater som är till salu kommer från en privat samling och
vi har god kunskap i att matcha olika enheter om sådan hjälp behövs. Det är möjligt att provlyssna alla apparater vid intresse. <br><br>

Vi säljer vinylskivor från 20kr/st. Tillbehör såsom kvalitativa innerfodral, nålvågar, libeller samt skivborstar finns till rimliga priser.
Butiken är inrymd i samma lokaler som Smålands Kafferosteri så det går bra att prova lite nyrostat kaffe när man testlyssnar. <br><br>

En trevlig sak med vintage HiFi är att de flesta apparater i samlingen håller en kvalitet som gör att de ökar i värde över tid.<br><br>

Detta gör de för att:<br>
<p></p>
1. Apparaten är konstruerad för att enkelt kunna repareras.<br>
2. Ingående komponenter är av hög kvalitet och håller mycket länge.<br>
3. Materialen är valda för sin åldersbeständighet och hållbarhet.<br><br>

På grund av detta så erbjuder vi full returrätt av apparaten till försäljningspris minus 10% hanteringskostnad(max 500kr)
förutsatt att skicket är oförändrat. </p>

<a name="Butiken"></a>VÄLKOMMEN HIT<br><br>

<p><img class="img-responsive" src="/App/Templates/ÅsedaHIFI/images/butiken3.jpg" /></p>
<p>Bild från butiken.</p><br><br>

<p><img class="img-responsive" src="/App/Templates/ÅsedaHIFI/images/sweetspot.jpg" /></p>
<p>
    Åseda Hi-Fi var representerat på Sweetspot i Jönköping i år. Anläggningen bestod av Skivspelare PL-70LII,
    Rullbandspelare RT-1020H, Kassettspelare CT-F1000, Försteg Exclusive C3, Slutsteg Exclusive M5, Högtalare HPM-150.
</p><br><br>

<p><img class="img-responsive" src="/App/Templates/ÅsedaHIFI/images/butikenA.jpg" /></p>
<p>Bild från butiken.</p><br><br>

<p><img class="img-responsive" src="/App/Templates/ÅsedaHIFI/images/2018-02-22-2808.jpg" /></p>
<p>Lyssningsplats.</p><br><br>

<p><img class="img-responsive" src="/App/Templates/ÅsedaHIFI/images/2018-02-22-2804.jpg" /></p>
<p>Interiör.</p><br><br>

<p><img class="img-responsive" src="/App/Templates/ÅsedaHIFI/images/butiken5.jpg" /></p>
<p>Interiör.</p><br><br>

