<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <base href="/" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="Vintage HiFi, High End, Stereo, Mono, Pioneer,
Marantz, Sansui, Åseda, Sony, JVC Nivico, Peerless, Bang & Olufsen, Beovox,
Pioneer HPM-150, Pioneer PL-70LII, Pioneer Exclusive C3, Pioneer Exclusive M5,
Technics SB-M1000, Technics SU-V900, Technics SA-5560, Beogram 9500, Garrard Zero 100SB,
Pioneer Exclusive, Technics, Uher, Sonab, Harman Kardon, Leak, Tandberg, Tannoy, JBL">
    <meta name="description" content="Hellre HiFi på hyllan än pengar på banken.">
    <title>Åseda Hi-Fi</title>
    <meta name="author" content="Åseda HiFi" />

    <meta property="og:title" content="Åseda HiFi" />
    <meta property="og:url" content="http://www.rosteriet.com/ÅsedaHiFi" />
    <meta property="og:image" content="http://rosteriet.com/Templates/ÅsedaHIFI/Images/åsedahifi2.png" />
    <meta property="og:description" content="Hellre HiFi på hyllan än pengar på banken." />


</head>

<img class="img-responsive" src="/App/Templates/ÅsedaHIFI/images/åsedahifi2.png" />

<h3><p style="text-align:center">Adress: Olofsgatan 7 ÅSEDA</p></h3>
<h3><p style="text-align:center">Öppet: Torsdagar kl 12-18 eller enl ök.</p></h3>
<h3><p style="text-align:center">Kontakt: 0708454442 <a href="mailto:hifi@kulturellt.org">hifi@kulturellt.org</a></p></h3><br>

<h4><p>TILL SALU JUST NU:</h4>
Klicka på länkarna för att se bilder.</p><br><br>

<h4><a href="#Butiken">Bilder från butiken</a></h4><br>

<h4><a href="#Förstärkare">FÖRSTÄRKARE</a></h4>
Alla förstärkare är rengjorda in- och utvändigt samt funktionstestade. I vissa fall är de reparerade och då används i möjligaste mån originalkomponenter - speciellt när det gäller toppmodeller.<br><br>
<a href="#PioneerSPEC1">Förförstärkare Pioneer SPEC-1 6900kr</a><br>
<a href="#LuxmanL215">Luxman L-215 2300kr</a><br>
<a href="#Marantzpm35">Marantz PM-35 1000kr</a><br>
<a href="#Pioneer450">Pioneer SX-450 2300kr</a><br>
<a href="#Sonystr11">Sony STR-11L 900kr</a><br>
<a href="#Technicssa5560">Technics SA-5560 3500kr</a><br>
<a href="#Toshiba1">Toshiba SR-304 1900kr</a><br>
<a href="#Yamahar3">Yamaha R-3 700kr</a><br>
<a href="#Yamahacav2">Yamaha CA-V2 900kr</a><br><br>

<h4><a href="#Skivspelare">SKIVSPELARE</a></h4>
Samtliga skivspelare har ny rem och rengjord samt nyoljat centrumlager och motor. Tonarmslagringen är undersökt och åtgärdad om den inte duger.
Diamanten är undersökt med mikroskop och bytt till ny om den inte duger.<br><br>
<a href="#Akai1">Akai AP-001 900kr</a><br>
<a href="#Akai2">Akai AP-002 2200kr</a><br>
<a href="#Denondp51">Denon DP-51F 4500kr</a><br>
<a href="#pl112d1">Pioneer PL-112d 1300kr</a><br>
<a href="#pl112d2">Pioneer PL-112d 1600kr</a><br>
<a href="#pl12d">Pioneer PL-12d 1800kr</a><br>
<a href="#pl15c">Pioneer PL-15c 2500kr</a><br>
<a href="#pl1800">Pioneer PL-1800 13900kr</a><br>
<a href="#pl70">Pioneer PL-70LII 26900kr</a><br>
<a href="#sony1">Sony PS-1350 2300kr</a><br>
<a href="#sony2">Sony PS-T1 900kr</a><br>
<a href="#Technicssl3310">Technics SL-3310 2500kr</a><br>
<a href="#Technicsslb210">Technics SL-B210 900kr</a><br><br>

<h4><a href="#Pickup">PICKUP</a></h4>
Samtliga pickuper är undersökta vad gäller impedans och skick på diamant. Närbilder kan fås på förfrågan.<br><br>
<a href="#Ortofona25">Ortofon A25 5900kr</a><br>
<a href="#Ortofona75">Ortofon A75 4900kr</a><br><br>

<h4><a href="#Kassettspelare">KASSETTSPELARE</a></h4>
Samtliga spelare är funktionstestade, tonhuvuden rengjorda och avmagnetiserade. Remmar är bytta vid behov.
Vid rembyte så är även mekanismen rengjord och återfettad.<br><br>
<a href="#Marantzsd50">Marantz SD-50 500kr</a><br>
<a href="#Sonytcu2">Sony TC-U2 800kr</a><br>
<a href="#Yamahak220">Yamaha K-220 500kr</a><br>
<a href="#Yamahatc520">Yamaha TC-520B 750kr</a><br><br>

<h4><a href="#Rullbandspelare">RULLBANDSPELARE</a></h4><br>
Samtliga spelare är funktionstestade, tonhuvuden är rengjorda och avmagnetiserade. Remmar är bytta vid behov.
Vid rembyte så är även mekanismen rengjord och återfettad.<br><br>

<h4><a href="#Radioenheter">RADIOENHETER</a></h4>
Samtliga radioenheter är funktionstestade.<br><br>
<a href="#Marantzst54">Marantz ST-54 350kr</a><br>
<a href="#SansuiTU9900">Sansui TU-9900 5900kr</a><br>
<a href="#Yamahactv2">Yamaha CT-V2 450kr</a><br><br>

<h4><a href="#CDspelare">CD-SPELARE</a></h4><br>

<h4><a href="#Högtalare">HÖGTALARE</a></h4>
Samtliga högtalare är funktionstestade och kantringar är bytta vid behov. Pris per par.<br><br>
<a href="#Beovox5000">Beovox 5000+2500 6900kr</a><br>
<a href="#JBLL19">JBL L19 2900kr</a><br>
<a href="#EV">Electro-Voice 2500kr</a><br>

<h4><a href="#Tillbehör">TILLBEHÖR</a></h4>
<a href="#Kassettband">Kassettband 5kr</a><br>
<a href="#Kolfiberborste">Kolfiberborste 80kr</a><br>
<a href="#Libell">Libell 90kr</a><br>
<a href="#Nålvåg">Nålvåg 200kr</a><br>
<a href="#Sleevesinner">Sleeves Inner 4kr</a><br>
<a href="#Sleevesytter">Sleeves Ytter 3kr</a><br><br><br>

<p>
    <h3>
<p style="text-align:center">Hellre HiFi på hyllan än pengar på banken</p></h3>
Mitt på det Småländska höglandet, i lilla Åseda finner ni vår butik fylld med vintage stereo-apparater från den gyllene HiFi-eran.
Apparaterna är rengjorda, servade och testkörda under längre tid. Alla apparater som är till salu kommer från en privat samling och
vi har god kunskap i att matcha olika enheter om sådan hjälp behövs. Det är möjligt att provlyssna alla apparater vid intresse. <br><br>

Vi säljer vinylskivor från 20kr/st. Tillbehör såsom kvalitativa innerfodral, nålvågar, libeller samt skivborstar finns till rimliga priser.
Butiken är inrymd i samma lokaler som Smålands Kafferosteri så det går bra att prova lite nyrostat kaffe när man testlyssnar. <br><br>

En trevlig sak med vintage HiFi är att de flesta apparater i samlingen håller en kvalitet som gör att de ökar i värde över tid.<br><br>

Detta gör de för att:<br>
<p></p>
1. Apparaten är konstruerad för att enkelt kunna repareras.<br>
2. Ingående komponenter är av hög kvalitet och håller mycket länge.<br>
3. Materialen är valda för sin åldersbeständighet och hållbarhet.<br><br>

På grund av detta så erbjuder vi full returrätt av apparaten till försäljningspris minus 10% hanteringskostnad(max 500kr)
förutsatt att skicket är oförändrat. </p>

<a name="Butiken"></a>VÄLKOMMEN HIT<br><br>

<p><img class="img-responsive" src="/App/Templates/ÅsedaHIFI/images/butiken3.jpg" /></p>
<p>Bild från butiken.</p><br><br>

<p><img class="img-responsive" src="/App/Templates/ÅsedaHIFI/images/sweetspot.jpg" /></p>
<p>
    Åseda Hi-Fi var representerat på Sweetspot i Jönköping i år. Anläggningen bestod av Skivspelare PL-70LII,
    Rullbandspelare RT-1020H, Kassettspelare CT-F1000, Försteg Exclusive C3, Slutsteg Exclusive M5, Högtalare HPM-150.
</p><br><br>

<p><img class="img-responsive" src="/App/Templates/ÅsedaHIFI/images/2018-02-22-2803.jpg" /></p>
<p>Bild från butiken.</p><br><br>

<p><img class="img-responsive" src="/App/Templates/ÅsedaHIFI/images/2018-02-22-2808.jpg" /></p>
<p>Lyssningsplats.</p><br><br>

<p><img class="img-responsive" src="/App/Templates/ÅsedaHIFI/images/2018-02-22-2804.jpg" /></p>
<p>Interiör.</p><br><br>

<p><img class="img-responsive" src="/App/Templates/ÅsedaHIFI/images/butiken5.jpg" /></p>
<p>Interiör.</p><br><br>

<a name="Förstärkare"></a>FÖRSTÄRKARE<br><br>
<a name="PioneerSPEC1"></a>
<p><img class="img-responsive" src="/App/Templates/ÅsedaHIFI/images/2018-02-15-2776.jpg" /></p>
<p>Pioneer SPEC-1 är ett mycket kompetent försteg som arbetar helt i klass A. 1976-80. 11,2kg.  Perfekt skick. Svensksåld.</p><br><br>

<a name="LuxmanL215"></a>
<p><img class="img-responsive" src="/App/Templates/ÅsedaHIFI/images/2018-02-15-2784.jpg" /></p>
<p>Luxman L-215 med den klassiska Duo Beta-konstruktionen. Mycket gott skick. 2x50W, 6,3 kg.. 1984-87. </p><br><br>

<a name="Marantzpm35"></a>
<a name="Marantzst54"></a>
<p><img class="img-responsive" src="/App/Templates/ÅsedaHIFI/images/2018-03-01-2882.jpg" /></p>
<p>Marantz PM-35 2x45W, 6,7kg. 1987-90 1000kr.</p>
<p>Marantz ST-54 radiodel. 350kr. Kombo-pris 1100kr tillsammans.</p><br><br>

<a name="Pioneer450"></a>
<p><img class="img-responsive" src="/App/Templates/ÅsedaHIFI/images/IMG_20180526_142624.jpg" /></p>
<p>Pioneer SX-450 i originalkartong inkl manual. Perfekt skick. 2x15W i 8ohm, 8,6kg. 1976-79 2300kr.</p><br><br>

<a name="Sonytcu2"></a>
<a name="Sonystr11"></a>
<p><img class="img-responsive" src="/App/Templates/ÅsedaHIFI/images/sonykombo.jpg" /></p>
<p>Sony STR-11L, bra receiver som fungerar fint. 2x25W, 1978. 900kr.</p>
<p>Sony TC-U2, trevlig spelare med god kvalitet. 800kr. Kombo-pris med Receiver STR-11L: 1500kr</p><br><br>

<a name="Technicssa5560"></a>
<p><img class="img-responsive" src="/App/Templates/ÅsedaHIFI/images/2018-02-22-2812.jpg" /></p>
<p>Technics SA-5560 är en kraftfull receiver på 16kg. 2x85W märkeffekt men HiFi-instituet mätte den 1978 till 2x145w i 4ohm... 1976-77. Perfekt skick. 3500kr</p><br><br>

<a name="Toshiba1"></a>
<p><img class="img-responsive" src="/App/Templates/ÅsedaHIFI/images/IMG_20180526_141728.jpg" /></p>
<p>Toshiba SR-304. Ovanlig. 2x30W. Perfekt skick. 1900kr</p><br><br>

<a name="Yamahacav2"></a>
<a name="Yamahactv2"></a>
<a name="Yamahatc520"></a>
<p><img class="img-responsive" src="/App/Templates/ÅsedaHIFI/images/2018-03-01-2883.jpg" /></p>
<p>Yamaha CA-V2, bra förstärkare med VU-mätare och dubbla högtalarutgångar. 2x40W, 8kg. 1978. 900kr.</p>
<p>Yamaha CT-V2, kvalitativ radiodel med mycket bra mottagning. 450kr.</p>
<p>Yamaha TC-520B, kassettspelare som fungerar utan anmärkning. 900kr. Kombo-pris alla enheter: 1900kr</p><br><br>

<a name="YamahaR3"></a>
<a name="Yamahak220"></a>
<p><img class="img-responsive" src="/App/Templates/ÅsedaHIFI/images/yamahakombo.jpg" /></p>
<p>Yamaha R-3, ok receiver som fungerar bra. 2x35W, 5,2kg. 1985-86. 700kr.</p>
<p>Yamaha K-220, trevlig spelare med god kvalitet. 500kr. Kombo-pris med Receiver R-3: 900kr</p><br><br>


<a name="Skivspelare"></a>SKIVSPELARE<br><br>

<a name="Akai1"></a>
<p><img class="img-responsive" src="/App/Templates/ÅsedaHIFI/images/akai001.jpg" /></p>
<p>Akai AP-001. Halvautomatisk spelare, välbyggd. Goldring Pickup. Locket skulle vinna på en polering. 900kr.</p><br><br>

<a name="Akai2"></a>
<p><img class="img-responsive" src="/App/Templates/ÅsedaHIFI/images/IMG_20180526_141624.jpg" /></p>
<p>Akai AP-002. Halvautomatisk spelare, mycket välbyggd. Mycket gott skick. 2200kr.</p><br><br>

<a name="Denondp51"></a>
<p><img class="img-responsive" src="/App/Templates/ÅsedaHIFI/images/denondp51f.jpg" /></p>
<p>Denon DP-51F bestyckad med Linn K5-pickup. Perfekt skick. 4500kr.</p><br><br>

<a name="pl112d1"></a>
<p><img class="img-responsive" src="/App/Templates/ÅsedaHIFI/images/2018-03-01-2874.jpg" /></p>
<p>Pioneer PL-112d. Evighetsmaskin. Lock är missfärgat och plint är sliten. 1300kr.</p><br><br>

<a name="pl112d2"></a>
<p><img class="img-responsive" src="/App/Templates/ÅsedaHIFI/images/2018-03-01-2878.jpg" /></p>
<p>Pioneer PL-112d. Evighetsmaskin. 1600kr.</p><br><br>

<a name="pl12d"></a>
<p><img class="img-responsive" src="/App/Templates/ÅsedaHIFI/images/2018-03-01-2877.jpg" /></p>
<p>Pioneer PL-12d. Evighetsmaskin. Shure M75MGT2 PU med ny nål. 1800kr.</p><br><br>

<a name="pl15c"></a>
<p><img class="img-responsive" src="/App/Templates/ÅsedaHIFI/images/IMG_20180526_141710.jpg" /></p>
<p>Pioneer PL-15c. Halvautomatisk spelare med god kvalitet. Perfekt skick. Shure M75MGT2 PU med ny nål. 2500kr.</p><br><br>

<a name="pl1800"></a>
<p><img class="img-responsive" src="/App/Templates/ÅsedaHIFI/images/pl1800b.jpg" /></p>
<p>Pioneer PL-1800. Den vackraste spelare som tillverkats. 13kg. Arm i grafitkomposit. Pickup Denon DLH5C. 13900kr.</p><br><br>


<a name="pl70"></a>
<p><img class="img-responsive" src="/App/Templates/ÅsedaHIFI/images/pl70a.jpg" /></p>
<p>Pioneer PL-70LII. En av Pioneers bästa skivspelare, alla kategorier. 25kg. 11" stegbart oljedämpad arm i grafitkomposit. Pickup PC-550mkII NOS. 26900kr.</p><br><br>


<a name="sony1"></a>
<p><img class="img-responsive" src="/App/Templates/ÅsedaHIFI/images/IMG_20180526_135852.jpg" /></p>
<p>Sony PS-1350. Halvautomatisk spelare i mycket fint skick. Tung och gedigen, ny pickup Audio Technica AT95. 2300kr </p><br><br>

<a name="sony2"></a>
<p><img class="img-responsive" src="/App/Templates/ÅsedaHIFI/images/IMG_20180526_141559.jpg" /></p>
<p>Sony PS-T1. Helautomatisk, direktdriven spelare. Ny nål Sony original. Locket har märken, dock ej repor. 900kr </p><br><br>

<a name="Technicssl3310"></a>
<p><img class="img-responsive" src="/App/Templates/ÅsedaHIFI/images/2018-02-22-2805.jpg" /></p>
<p>Technics SL-3310 är en kvalitetsspelare med mekanisk automatik. Mkt bra PU. Spelaren till vänster 2500kr.</p><br><br>

<a name="Technicsslb210"></a>
<p><img class="img-responsive" src="/App/Templates/ÅsedaHIFI/images/technicsslb210.jpg" /></p>
<p>Technics SL-B210 är en enkel men pålitlig spelare. Perfekt skick. Ny rem + nål. 900kr.</p><br><br>

<a name="Pickup"></a>PICKUP<br><br>
<a name="Ortofona25"></a>
<p><img class="img-responsive" src="/App/Templates/ÅsedaHIFI/images/2018-03-06-2923.jpg" /></p>
<p>Legendarisk Moving Coil Pickup. För LP. Spole mäter bra, diamant i gott skick. 5900kr.</p><br><br>

<a name="Ortofona75"></a>
<p><img class="img-responsive" src="/App/Templates/ÅsedaHIFI/images/2018-03-06-2921.jpg" /></p>
<p>Legendarisk Moving Coil Pickup. För 78 varv. Spole mäter bra, diamant i gott skick. 4900kr.</p><br><br>

<a name="Kassettspelare"></a>KASSETTSPELARE<br><br>
<a name="Marantzsd50"></a>
<p><img class="img-responsive" src="/App/Templates/ÅsedaHIFI/images/marantzsd50.jpg" /></p>
<p>Marantz SD-50, en funktionell spelare till lågt pris. 500kr.</p><br><br>

<p><img class="img-responsive" src="/App/Templates/ÅsedaHIFI/images/sonykombo.jpg" /></p>
<p>Sony TC-U2, trevlig spelare med god kvalitet. 800kr. Kombo-pris med Receiver STR-11L: 1500kr</p><br><br>

<p><img class="img-responsive" src="/App/Templates/ÅsedaHIFI/images/2018-03-01-2883.jpg" /></p>
<p>Yamaha TC-520B, kassettspelare som fungerar utan anmärkning. 900kr. Kombo-pris alla enheter: 1900kr</p><br><br>

<p><img class="img-responsive" src="/App/Templates/ÅsedaHIFI/images/yamahakombo.jpg" /></p>
<p>Yamaha K-220, trevlig spelare med god kvalitet. 500kr. Kombo-pris med Receiver R-3: 900kr</p><br><br>


<a name="Rullbandspelare"></a>RULLBANDSPELARE<br><br>


<a name="Radioenheter"></a>RADIOENHETER<br><br>
<a name="SansuiTU9900"></a>
<p><img class="img-responsive" src="/App/Templates/ÅsedaHIFI/images/2018-02-15-2774.jpg" /></p>
<p>
    Sansui TU-9900 är en av de bästa tuners som tillverkats. Skicket är mycket gott, det finns dock en tunn repa på fronten,
    den syns längst ner strax till vänster om mitten.
</p><br><br>


<a name="CDspelare"></a>CD-SPELARE<br><br>


<a name="Högtalare"></a>HÖGTALARE<br><br>

<a name="Beovox5000"></a>
<p><img class="img-responsive" src="/App/Templates/ÅsedaHIFI/images/beovox5000.jpg" /></p>
<p>Beovox 5000 mk1 och Beovox 2500 cube från Bang & Olufsen. Rariteter i mycket fint skick. 6900kr.</p><br><br>

<a name="JBLL19"></a>
<p><img class="img-responsive" src="/App/Templates/ÅsedaHIFI/images/2018-04-01-3100.jpg" /></p>
<p>JBL L19 är en utmärkt monitor. Samma diskant som i L100. Perfekt skick. Fronter finns naturligtvis. 2900kr för paret.</p><br><br>

<a name="EV"></a>
<p><img class="img-responsive" src="/App/Templates/ÅsedaHIFI/images/EVhorn.jpg" /></p>
<p>Electro-Voice diskanthorn med dubbla kompressionsmembran. 2500kr.</p><br><br>

<a name="Tillbehör"></a>TILLBEHÖR<br>
Vi har letat fram tillbehör som håller hög kvalitet till lågt pris.<br><br>
<a name="Kassettband"></a>
<p><img class="img-responsive" src="/App/Templates/ÅsedaHIFI/images/2018-02-15-2788.jpg" /></p>
<p>Kassettband inspelade 1 gång. Radioprogram från 70-80tal. </p><br><br>

<a name="Kolfiberborste"></a>
<a name="Libell"></a>
<p><img class="img-responsive" src="/App/Templates/ÅsedaHIFI/images/2018-02-15-2789.jpg" /></p>
<p>
    Kolfiberborste för att ta bort damm och statisk elektricitet på vinylskivan innan avspelning.<br>
    Libell för perfekt placering av skivspelare.
</p><br><br>

<a name="Nålvåg"></a>
<p><img class="img-responsive" src="/App/Templates/ÅsedaHIFI/images/2018-02-15-2787.jpg" /></p>
<p>Nålvåg som visar upp till 5g +-0.01g. Kalibreringsvikt och manual medföljer. </p><br><br>

<a name="Sleevesinner"></a>
<p><img class="img-responsive" src="/App/Templates/ÅsedaHIFI/images/2018-02-15-2793.jpg" /></p>
<p>Innerfodral av hög kvalitet.</p><br><br>

<a name="Sleevesytter"></a>
<p><img class="img-responsive" src="/App/Templates/ÅsedaHIFI/images/2018-02-15-2791.jpg" /></p>
<p>Ytterfodral av hög kvalitet.</p><br><br>

<a name="Sleevesytter2"></a>
<p><img class="img-responsive" src="/App/Templates/ÅsedaHIFI/images/2018-02-15-2792.jpg" /></p>
<p>Ytterfodral till dubbelalbum av hög kvalitet.</p><br><br>








