<h3>
    Dacke Kulturförening främjar Småländskt småskaligt producerade och förädlade varor.
</h3>
NYHET från Skälshults Gård i mycket begränsad upplaga!<br>
Den ökända chilisorten "Carolina Reaper" är 4 gånger så stark som Habanero...<br>
Detta är en chili för dig som är ytterst prismedveten. 130kr per flaska räcker l ä n g e.<br>
<br><br>
<img class="img-responsive center" src="/App/Templates/DackeKultur/images/reaper.jpg" />
<br><br>
Vi säljer äkta Småländskt odlad Chili från <a href="http://www.skalshult.se">Skälshults Gård</a> utanför Oskarshamn!<br>
Eftersom att vi själva använder denna fantastiska produkt så kan vi heller inte undanhålla den för er.<br><br>
"Red Savina" heter den sort vi har fastnat för. Den är mycket stark, 270.000-500.000 scovillegrader.
Som sann Smålänning så vill man ha sin chili riktigt stark, så den räcker länge!<br>
<br><br>65kr/st är priset.<br<br>
<img class="img-responsive center" src="/App/Templates/DackeKultur/images/2018-03-20-3012.jpg" />
<br><br>
<img class="img-responsive center" src="/App/Templates/DackeKultur/images/dackekultur.png" />