<h4>
    Dacke Kulturförening främjar Småländskt småskaligt producerade och förädlade varor.
</h4>
Vi har nu fått in äkta Småländskt odlad Chili från <a href="http://www.skalshult.se">Skälshults Gård</a> utanför Oskarshamn!<br>
Eftersom att vi själva använder denna fantastiska produkt så kan vi heller inte undanhålla den för er.<br><br>
"Red Savina" heter den sort vi har fastnat för. Den är mycket stark, 270.000-500.000 scovillegrader. Som sann Smålänning så vill man ha sin chili riktigt stark, så den räcker länge!<br> 
<br><br>65kr/st är priset.<br<br>
<img class="img-responsive center" src="/App/Templates/DackeKultur/images/2018-03-20-3012.jpg" />
<br><br>
<img class="img-responsive center" src="/App/Templates/DackeKultur/images/dackekultur.png" />